# hide folders and symlinks
src/
lcc_logs/*
datasets/*
model_checkpoints/*
experiments/large_results/*
embeddings/*
embeddings
experiments/checkpoints/*
checkpoints/*
logs/*

# hide particular files
*.png
*.pyc
error_logs.txt
*.ckpt
*.log


# hide papermill notebooks
experiments/output*.ipynb
scripts/imagenet/make_embeddings.py
